body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #000000;
}

.error-message {
  color: #000000;
}

.is-horizontal-center {
  justify-content: center;
}

.hero.is-info .title {
  color: #000000;
}

.hero.is-info .subtitle {
  color: #000000;
}
